
 <div>
    <mat-toolbar>
       <button mat-icon-button class="example-icon"  (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span>Pantalla De consolas</span>
     </mat-toolbar>
     <mat-drawer-container class="example-container" autosize>
       <mat-drawer #drawer class="example-sidenav" mode="side">
           <mat-list>
             <mat-list-item>
               <button  mat-raised-button color="green" (click)="main()"  aria-label="Example icon button with a home icon">
                 <mat-icon>home</mat-icon>
               </button>
             </mat-list-item>
             <mat-divider></mat-divider>
               <mat-list-item>
                 <button  mat-raised-button color="primary" (click)="gestionusuario();">gestion usuario</button>
               </mat-list-item>
               <mat-divider></mat-divider>
               <mat-list-item>
               <button  mat-raised-button color="primary" (click)="biblioteca();">Biblioteca de juegos</button>
             </mat-list-item>
               <mat-divider></mat-divider>
               <mat-list-item>
                 <button  mat-raised-button color="primary" (click)="consolas();">Consolas</button>
               </mat-list-item>
                 <mat-divider></mat-divider>
                 
               <mat-list-item>
               <button  mat-raised-button color="warn" (click)="salir();">salir</button>
             </mat-list-item>
             </mat-list>       
       </mat-drawer>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 " *ngFor = 'let consola of consolas'>
                <div class="card text-center">
                    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                        {{consola.nombre}}
                        <button class="btn btn-success" (click)="redireccionar(consola.id_consola)">
                            <i class="fas fa-gamepad"> IR</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</mat-drawer-container>
</div>