<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Client</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="container-fluid">
                    <a class="navbar-brand" routerLink="/consolas" routerLinkActive="active">Consolas</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>    
        </nav>
    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 " *ngFor = 'let consola of consolas'>
                <div class="card text-center">
                    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                        {{consola.nombre}}
                        <button class="btn btn-success" (click)="redireccionar(consola.id_consola)">
                            <i class="fas fa-gamepad"> IR</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
</body>
</html>