<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
	<link rel="stylesheet" href="registro.component.css">
	<title>Formulario</title>
</head>
<body>
    

	<div class="container">
		<div class="form__top">
			<h2>Formulario <span>Registro</span></h2>
		</div>		
		<form  [formGroup]="form" class="form-group" action="">
			<input class="input" class="form-control mb-3" type="text" placeholder="&#128113;   Nombre de Usuario" name="username" formControlName="username" required autofocus>
            <input class="input" class="form-control mb-3" type="text" placeholder="&#128100;  Nombres" name="nombre" formControlName="nombre"required>
            <input class="input" class="form-control mb-3" type="text" placeholder="&#128100;  Apellidos" name="apellido" formControlName="apellido" required>
            <input class="input" class="form-control mb-3" type="text" placeholder="&#128100;  Fecha de Nacimiento" name="fecha" formControlName="fecha" required>
            <input class="input" class="form-control mb-3" type="email" placeholder="&#9993;  Email" name="correo" formControlName="correo"  required>
            <input class="input" class="form-control mb-3" type="text" placeholder="&#128222;  contraseña" name="contraseña" formControlName="contraseña" required>
            <select *ngIf="roll==='admin'" class="form-control" name="roll"formControlName="roll" >
				<option value="admin">administrador</option>
				<option value="user"> usuario normal</option>
			  </select>
			<div class="btn__form">
            	<input type="reset" class="btn__submit" (click)="Crearusuario()"  value="REGISTRAR">
            	<input   class="btn__reset" type="reset" (click)="regresar()" value="regresar">	
            </div>
		</form>
	</div>
	
</body>
</html>
